<div class="container spacer">  
  <div class="card border-primary mb-3" style="max-width: 40rem;">
    <div class="card-header">A Propos</div>
    <div class="card-body text-primary">
      <p class="card-text">
        Nous sommes optimistes. Nous pensons que la 4ème révolution industrielle que nous vivons peut donner naissance à une nouvelle renaissance économique et à une nouvelle ère de prospérité à condition que l’homme, la société et la planète soient au cœur de toute réflexion. 
      </p>
    </div>
  </div>
</div>